
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Josefin+Sans:wght@300&family=Lilita+One&family=Lumanosimo&family=Signika:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Josefin+Sans:wght@300&family=Lilita+One&display=swap');
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    overflow: auto;
  }
  
  .box {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 400px;
    /* background-image: linear-gradient(to top, rgb(156, 233, 214), rgba(176, 59, 206, 0.377)); */
    border: 2px solid black;
    border-radius: 5px;
  }
  
  .fcol {
    padding-top: 5px;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .textct {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-family: 'Lilita One', cursive;
    font-size: 1.5rem;
  }
  
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center;
  }
  
  .secondary {
    background-color: rgb(156, 233, 214);
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .precipetate{
    font-size: 0.9rem;
  }
  
  .btn_success {
    border: none;
    background-color: rgb(2, 190, 2);
    right: 0;
    align-items: end;
    border-radius: 10px;
    color: white;
    display: none;
  }
  
  .btn_success:hover {
    border: 2px solid white;
  }
  
  .btn_success:active {
    background-color: green;
  }
  
  .space {
    width: 5px;
    height: 5px;
  }
  
  .TCT {
    text-align: center;
  }
  
  .card-body {
    flex: 1 1 auto;
    padding: 0px;
    width: 62px;
    color: var(--bs-card-color);
  }
  
  .card {
    border-right: 2px solid red;
  }
  
  .card3 {
    border-right: 2px solid red;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-radius: 0px;
  }
  
  .card2 {
    border-right: 0px solid red;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
  }
  
  .card-gr {
    display: flex;
    overflow-x: scroll;
    /* -ms-overflow-style: none; 
    scrollbar-width: none; */
  }
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0;
  }
  .tab{
    display: flex;
    flex-direction: column;
    /* justify-content:space-between; */
    align-items: center;
    text-align: center;
  }
  .FiveDays {
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fiveTr{
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table>:not(caption)>*>* {
  padding: 3px 15px 3px 9px;
  color: var(--bs-table-color-state,var(--bs-table-color-type,var(--bs-table-color)));
  background-color: var(--bs-table-bg);
  border-bottom-width: var(--bs-border-width);
  box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state,var(--bs-table-bg-type,var(--bs-table-accent-bg)));
}
.last{
  display: flex;
  flex-direction: column;
  /* text-align: center;
  justify-content: left;
  align-items: center; */
}
.wDetails{
  display: flex;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-left: 10px;
  font-family: 'Signika', sans-serif;
}
.detailsMain{
  display: flex;
  /* width: 300px;
   */
   justify-content: center;
   align-items: center;
}
.detailsCard{
  margin: 0px 10px 0px 10px;
  width: 150px;
  
}
.last {
  width: auto;
}

.wDetails {
  text-align: center;
  font-weight: bold;
}

.detailsMain {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding-bottom: 20px;
}

.detailsCard {
  width: 200px;
  height: max-content;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.705);
}

.max1 {
  background-color: #dfdfdf;
  font-size: 1.1rem;
  font-weight: bolder;
}

.min1 {
  background-color: #dfdfdf;
  font-size: 1.1rem;
  font-weight: bolder;
}

.press1 {
  background-color: #dfdfdf;
  font-size: 1.1rem;
  font-weight: bolder;
}

.humid1 {
  background-color: #dfdfdf;
  font-size: 1.1rem;
  font-weight: bolder;
}
.max {
  font-weight: 600;
  font-size: 0.9rem;
}

.min {
  font-weight: 600;
  font-size: 0.9rem;
}

.press {
  font-weight: 600;
  font-size: 0.9rem;
}

.humid {
  font-weight: 600;
  font-size: 0.9rem;
}
  /* .card-gr::-webkit-scrollbar {
    display: none; 
  }
   */
  @media (min-width: 576px) {
    .card-group {
      display: flex;
      flex-flow: row;
    }
  }
  
  @media (max-width: 576px) {
    .card {
      border-right: 2px solid var(--bs-card-border-color);
    }
  
    .card-group {
      display: flex;
      flex-direction: row;
    }
  
    .card-text {
      padding-left: 5px;
      padding-right: 5px;
      font-size: 0.96rem;
    }
  
    .card-group > .card {
      margin-bottom: 0px;
    }
  
    .card2 {
      border-right: 0px solid red;
      border-top: 0px;
      border-bottom: 0px;
      border-left: 0px;
    }
  
    .card3 {
      border-top: 0px;
      border-bottom: 0px;
      border-left: 0px;
      border-radius: 0px;
    }
  }
  
  @media (max-width: 425px) {
    .card-text {
      padding-left: 5px;
      padding-right: 5px;
      font-size: 0.95rem;
    }
  
    .box {
      width: 390px;
    }
  }
  
  @media (max-width: 375px) {
    .card-text {
      padding-left: 5px;
      padding-right: 5px;
      font-size: 0.75rem;
    }
  
    .box {
      width: 350px;
    }
  }
  
  @media (max-width: 320px) {
    .card-text {
      padding-left: 5px;
      padding-right: 5px;
      font-size: 0.63rem;
    }
  
    .box {
      width: 280px;
    }
  }
   .search-container {
    position: relative;
    
  } 
  
  #search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  #suggestions-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    overflow-y: auto;
  }
  
  #suggestions-list li {
    padding: 10px;
    cursor: pointer;
  }
  
  #suggestions-list li:hover {
    background-color: #f4f4f4;
  }
  .main{
    padding: 0 5px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
  }
  .temp{
    font-size: 3rem;
  }
  .status{
    width: 100px;
    font-size: 4rem;
  }
  .location{
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Chela O
    ne', cursive; */
  }
  @import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Josefin+Sans:wght@300&family=Lilita+One&family=Lumanosimo&display=swap');
  .tempFeel{
    font-family: 'Lumanosimo', cursive;
    font-size: 1.5rem;
  }
  .textDef{
    font-family: 'Signika', sans-serif;
  }
  